# Django framework
Django>=4.2,<5.1

# Django REST Framework for building APIs
djangorestframework>=3.14  # O la última versión estable

markdown

django-filter

# Gunicorn for serving your app in producción
gunicorn>=20.1,<21.0

# NumPy for numerical operations
numpy>=1.21,<2.0

# Matplotlib for plotting and visualization
matplotlib>=3.5,<4.0

# SciPy for scientific computations
scipy>=1.7,<2.0

# Pandas for data manipulation and analysis
pandas>=1.3,<1.6

# Seaborn for statistical data visualization
seaborn>=0.11

# PostgreSQL database adapter for Python
psycopg2-binary

Pillow