{% extends "base.html" %}
{% block content %}
<header class="bg-primary text-white text-center py-2">
  <h1>Seleccionar Simulaciones para {{ project.name }}</h1>
</header>

<main class="container mt-4">
  <div class="mb-4">
    <h5>Simulaciones Inactivas</h5>
    <ul class="list-group">
      {% for simulation in simulations %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ simulation.name }}
        <form method="post" action="{% url 'select_simulation' project.id %}">
          {% csrf_token %}
          <input type="hidden" name="simulation_id" value="{{ simulation.id }}">
          <button type="submit" class="btn btn-success">Añadir</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}